#header{
  background-color: #111;
}
.logo{
  height: 30px;
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem ;
}}


#main .carousel-inner img{
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(30%);
}

#carousel{
  position: relative;
}
#carousel .overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

.btn-val {
  background-color: #ff4655;
  color: white;
  height: 3rem;
  width: 8rem;
}

.btn-val:hover {
  background-color: #ff2d3f;
}
.valorant_logo_svg img{
  width: 50%;
}
#speakers{
  background-color: beige;
}

#footer{
  background-color: #111;
  height: 30vh;
  width: 100%;
}

#footer .row{
  padding-top: 5vh;
}

#footer .container a{
  text-decoration: none;
  color: white;
}
#footer .container a:hover{
  text-decoration: underline;
  color: whitesmoke;
}
