*{
  font-family: 'VALORANT', sans-serif;
}

#header{
  background-color: #111;
  min-height: 10vh;
  padding-top: 1.5vh;
}
.logo{
  height: 30px;
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem ;
}}



#main .carousel-inner{
  height: 100%;
}
#main .carousel-inner img{
  min-height: none;
  object-fit:fill;
  filter: grayscale(30%);
}

#carousel{
  position: relative;

}
#carousel .overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

.btn-val {
  background-color: #ff4655;
  color: white;
  height: 4rem;
  width: 8rem;
}

.btn-val:hover {
  background-color: #ff2d3f;
}
.valorant_logo_svg img{
  width: 50%;
}
#speakers{
  background-color: beige;
}
.card-img-top{
  height: 50%;
}
#maps {
  background-color: #343a40;
  color: white;
}

#maps img {
  max-width: 100%;
}


#footer{
  background-color: #111;
  height: 100%;
}

#footer .row{
  padding-top: 5vh;
}

#footer .container a{
  text-decoration: none;
  color: white;
}
#footer .container a:hover{
  text-decoration: underline;
  color: whitesmoke;
}
.disclaimer{
  margin-top: 2.5rem;
  color: whitesmoke;
  width: 50%;
  height: 25vh;

}
.disclaimer p{
  font-size: 65%;
}

.badge{
  color: #111;
}
.iniciador{
  background-color: blue;
}
.duelista{
  background-color: #fa811d;
}
.centinela{
  background-color: rgb(165, 231, 65);
}
.controlador{
  background-color: darkgrey;
}

.card-body img{
  height: 1rem;
}
